@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* -------------------------
    Reusable Components
---------------------------- */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
}
/*---------------------------
    Navbar Styles
----------------------------*/
.navbar{
    background-color: #562EFF;
}
.navbar-brand img{
    margin-right: 15px;
}
.navbar-nav .nav-link{
    margin-left: 30px;
}

